<!DOCTYPE html>

<html>

	<head>
		<title>Crypto Stock</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	

	<body>
	    <h1 class='appName text-center'>Crypto Stock Market</h1>
	    <div class='container1'>
	    	<div class='btn-date-container'>
	    		<button class='hour btn'>H</button>
	    		<button class='day btn'>D</button>
	    		<button class='week btn'>W</button>
	    		<button class='month btn'>M</button>
	    		<button class='year btn'>Y</button>
	    		<button class='all btn'>All</button>
	    	</div>
	    	<div class='change'></div>
	    	<div class='graph'></div>
	    </div>
	    <div class='addGraph'></div>
	</body>
	
	
</html>